body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}
